:root {
    --bg-app: #121212;
    --bg-sidebar: #1e1e1e;
    --bg-canvas: #2c2c2c;
    --accent: #0d99ff;
    --border: #333;
    --text-main: #e0e0e0;
    --text-dim: #999;
    --panel-w: 260px;
    --header-h: 48px;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background: var(--bg-app);
    color: var(--text-main);
    height: 100vh;
}

.app-header {
    height: var(--header-h);
    background: var(--bg-sidebar);
    border-bottom: 2px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 19px;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;

}

.app-header span {
    color: var(--accent)
}

#status-msg {
    font-size: 12px;
    color: var(--text-dim)
}

button {
    background: #333;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

button.primary {
    background: var(--accent);
    border-color: var(--accent);
    font-weight: 600;
}